<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" href="auto.css">
    <script src="auto.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>


<!--<p id="message" >Пожалуйста, заполните все поля формы!</p>-->
<!--<div class="general" style="margin-left:10px;">-->
<!--    <header>-->
<!--        <img src="bank.png" class="img_style">-->
<!--        <h1 class="header_p">Stile shop</h1>-->
<!--    </header>-->



<!--    <div class="style_main">-->

<!--        <div class="style_form">-->
<!--            <form  >-->
<!--                <h2 class="text_style">Авторизация</h2>-->

<!--                <div class="style_login">-->
<!--                    <input type="text"   class = "form_valid" placeholder="UserName" maxlength="10" required>-->
<!--                    <input type="text" name="userName" class = "form_valid" id = "user_name" placeholder="UserName" maxlength="10" required>-->
<!--                </div>-->
<!--                <div class="style_login">-->
<!--                    <input type="password" class = "form_valid" id = "password" placeholder="Password" maxlength="10" required>-->
<!--                </div>-->

<!--                <div class="form_group" style="text-align:center">-->
<!--                    <button class="button" id = "button_check">ВОЙТИ</button>-->

<!--                </div>-->
<!--            </form>-->
<!--&lt;!&ndash;            <p style="color:#696969"><b>or log in with...</b></p>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="style_net">&ndash;&gt;-->
<!--&lt;!&ndash;                <div><a href="https://www.facebook.com/"><img src="twitter.png" class="a_style"></a></div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div><a href="https://www.google.by"><img src="google.png" class="a_style"></a></div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div><a href="https://twitter.com/?lang=ru/"><img src="fb.png" class="a_style"></a></div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->


<!--        </div>-->

<!--        <div class="style_block"> </div>-->

<!--    </div>-->


<!--    <footer id="style_foot">-->
<!--        <address> Контакты: +375 (29) 123-45-78</address>-->
<!--    </footer>-->
<!--</div>-->

<!--<script>-->

<!--    let user_name = document.querySelector("#user_name").value;-->
<!--    let password = document.querySelector("#password").value;-->



<!--    $("#button_check").click (function () {-->
<!--            let re = /^[a-zA-Z1-9]+$/-->
<!--            let user = document.getElementById('user_name').value;-->
<!--            let pass = document.getElementById('password').value;-->
<!--            let  valid = re.test(user);-->
<!--            let valid2 = re.test(pass);-->
<!--            if (valid && valid2) alert( 'Данные отправлены');-->
<!--            else alert( 'Допустимы только латинские буквы и цифры!');-->



<!--        }-->

<!--    );-->



<!--</script>-->

<!--<h1>Welcome</h1>-->

</body>
</html>